<h1>Restaurants in Your Area</h1>
  <div class="all-restaurants">
    <% @restaurants.each_with_index do |restaurant, index| %>
      <div class="rest-info">
        <p><%= link_to restaurant.name, restaurant_path(restaurant.id) %></p>
        <p>
        <% if @ratings_by_restaurant[index].empty? %>
         <p><em>N/A</em></p>
         <% else %>
        <p class="avg-rating"><%= (@ratings_by_restaurant[index].sum.to_f / @ratings_by_restaurant[index].length).round(2) %> <em>stars</em></p>
        <% end %>
      </div>
    <% end %>
  </div>
<%= link_to "Add Restaurant", new_restaurant_path, class: 'btn btn-warning' %>
